# ============================================
# ОБЩИЕ НАСТРОЙКИ
# ============================================
NODE_ENV=production
DOMAIN=
EMAIL=

# ============================================
# POSTGRESQL
# ============================================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# ============================================
# BACKEND (Spring Boot)
# ============================================
BACKEND_PORT=8080
AI_SERVICE_URL=http://ai-service:8000

# JWT настройки
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=2592000000

# ============================================
# FRONTEND (React)
# ============================================
FRONTEND_PORT=3000
VITE_API_URL=https://finsovetnik-ai.ru

# ============================================
# AI SERVICE (Python)
# ============================================
AI_SERVICE_PORT=8000
OPENAI_API_KEY=

# ============================================
# SSH ТУННЕЛЬ К БД (опционально)
# ============================================
SSH_HOST=
SSH_PORT=22
SSH_USER=
SSH_KEY_PATH=/root/.ssh/id_rsa
DB_SSH_TUNNEL_PORT=5433

# ============================================
# NGINX
# ============================================
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443

LLM_PROVIDER=yandexgpt

# ============================================
# Ollama (Локальная модель)
# ============================================
OLLAMA_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=qwen2.5:3b

# ============================================
# YandexGPT (Облачная модель)
# Заполни ключи, когда переключишься на yandexgpt
# ============================================
YANDEX_API_KEY=
YANDEX_FOLDER_ID=
YANDEX_MODEL=yandexgpt-5-lite/latest

# ============================================
# Edge TTS (Озвучка)
# ============================================
VOICE=ru-RU-DmitryNeural

# ============================================
# Настройки приложения
# ============================================
DEBUG=True
REQUEST_TIMEOUT=600
MAX_TEXT_LENGTH=3000


DATABASE_URL=
YUKASSA_SECRET_KEY=
YUKASSA_SHOP_ID=